<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: transparent;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Account?login=true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Account?register=true" style="color: #CE210E;">Register</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" action="/Upload/SearchUploaded">
                <input class="form-control mr-sm-2" name="searchID" placeholder="Search ID" type="text">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/app.js")
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
